{% extends 'layout.html' %}
{% load bootstrap3 %}

{% block title %}
    ModelForm
{% endblock %}

{% block menu %}
    {% include 'menu.html' %}
{% endblock %}

{% block content %}

{% include 'post/single_post.html' %}

{% for comment in comments %}
<div class="panel panel-default">
  <div class="panel-body">
    <b>{{ comment.full_name }}</b>
    <p>{{ comment.value }}</p>
  </div>
</div>
{% endfor %}

<form method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons submit='OK' %}{% endbuttons %}
</form>

{% endblock %}
